<!DOCTYPE html>

<html>
<body>
    <div class="sidebar">
        <a class = "dropdown" routerLink="">Home</a>
        <div class="dropdown">
            <a>Criar tarefa</a>
            <div class="dropdown-content">
                <a routerLink="/criarTarefaVigilancia">Vigilância</a>
                <a routerLink="/criarTarefaPickUpDelivery">PickUp&Delivery</a>
            </div>
        </div>
        <a routerLink="">Alterar Dados</a>
        <a routerLink="/exportarDadosPessoais">Exportar Dados</a>
        <a routerLink="">Cancelar Conta</a>
    </div>
</body>
</html>