<html>

<body>
  <div class="sidebar">
    <app-sidebar-gestao-planeamento></app-sidebar-gestao-planeamento>
  </div>
  <div class="header">
    <h1>Apagar Tarefa</h1>
  </div>
  <div class="conteudo">
    <div class="input-field">
      <input name="id" #id placeholder="Id*" required />
      <span></span>
    </div>

    <div class="button-submit">
      <button type="button" class="add-button" (click)="deleteTarefa(id.value);" >Apagar</button>
    </div>

    <div class="app-message"> 
      <app-message></app-message>
    </div>
  </div>
</body>

</html>