<!DOCTYPE html>

<html>
<body>
    <div class="sidebar">
        <a href="#">Home</a>
        <div class="dropdown">
            <a>Edifício</a>
            <div class="dropdown-content">
                <a routerLink="/criarEdificio">Criar</a>
                <a routerLink="/editarEdificio">Editar</a>
                <a routerLink="/listarEdificios">Listar</a>
                <a href="#">Listar por numero pisos</a>
            </div>
        </div>
        <div class="dropdown">
            <a >Piso</a>
            <div class="dropdown-content">
                <a routerLink="/criarPiso">Criar</a>
                <a routerLink="/editarPiso">Editar</a>
                <a href="#">Listar</a>
            </div>
        </div>
        <div class="dropdown">
            <a >Elevador</a>
            <div class="dropdown-content">
                <a routerLink="/criarElevador">Criar</a>
                <a href="#">Editar</a>
                <a href="#">Listar</a>
            </div>
        </div>
        <div class="dropdown">
            <a >Sala</a>
            <div class="dropdown-content">
                <a href="#">Criar</a>
                <a href="#">Editar</a>
            </div>
        </div>
        <div class="dropdown">
            <a >Passagem</a>
            <div class="dropdown-content">
                <a href="#">Criar</a>
                <a href="#">Editar</a>
                <a href="#">Listar pisos com passagem</a>
                <a href="#">Listar passagem entre edifícios</a>
            </div>
        </div>
        <a routerLink="/carregarMapa">Carregar Mapa</a>
    </div>
</body>
</html>