<!DOCTYPE html>
 
<html>
<body>
    <div class="sidebar">
        <a routerLink="/administrador">Home</a>
        <div class="dropdown">
            <a>Utilizador</a>
            <div class="dropdown-content">
                <a routerLink="/registar">Registar</a>
            </div>
            <div class="dropdown-content"> 
                <a routerLink="/approveOrRejectUtente">Aprovar Pedidos</a>
            </div>
        </div>
        <div class="logout">
            <a (click)="logout()">Logout</a>
        </div>    
    </div>
</body>
</html>