<html>

<body>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="header">
        <h1>Pedidos de Aprovação de Registo</h1>
    </div>
    <div class="conteudo">

        <div class="input-field">
            <select name="selectUser" #selectUser>
                <option value="" disabled selected>Utilizador *</option>
                <option *ngFor="let user of listaDeUtilizadores" [value]="user">{{ user }}</option>
            </select>
            <span></span>
        </div>     

        <div class="input-field">
            <select name="selectEstado" #selectEstado>
                <option value="" disabled selected>Escolher Novo Estado *</option>
                <option value="aceito">Aceitar</option>
                <option value="rejeitado">Rejeitar</option>
            </select>
            <span></span>
        </div>

        <div class="button-submit">
            <button type="button" class="add-button"
                (click)=" add(selectUser.value, selectEstado.value)">Alterar estado do pedido</button>
        </div>
        <app-message></app-message>
    </div>
</body>

</html>