<!DOCTYPE html>

<html>
<body>
    <div class="sidebar">
        <a routerLink="">Home</a>
        <div class="dropdown">
            <a>Criar tarefa</a>
            <div class="dropdown-content">
            <!-- TODO link /criarTarefaVigilancia -->
                <a routerLink="">Vigilância</a>
            <!-- TODO link /criarTarefaPickUpDelivery -->
                <a routerLink="">PickUp&Delivery</a>
            </div>
        </div>
        <a routerLink="/caminhoEntreEdificios">Caminho entre edificios</a>
        <a routerLink="/aprovarTarefas">Aprovar/Recusar Tarefas</a>
    </div>
</body>
</html>