<!DOCTYPE html>

<html>
<body>
    <div class="sidebar">
        <a routerLink="">Home</a>
        <div class="dropdown">
            <a>Criar tarefa</a>
            <div class="dropdown-content">
                <a routerLink="/criarTarefaVigilancia">Vigilância</a>
                <a routerLink="/criarTarefaPickUpDelivery">PickUp&Delivery</a>
            </div>
        </div>
        <a routerLink="/caminhoEntreEdificios">Caminho entre edificios</a>
        <a routerLink="/aprovarTarefas">Aprovar/Recusar Tarefas</a>
    </div>
</body>
</html>