<!DOCTYPE html>

<html>
<body>
    <div class="sidebar">
        <a routerLink="/gestaoPlaneamento">Home</a>
        <a routerLink="/caminhoEntreEdificios">Caminho entre edificios</a>
        <a routerLink="/listarTarefasPendentes">Listar tarefas pendentes</a>
        <a routerLink="/aprovarTarefas">Aprovar/Recusar Tarefas</a>
        <a routerLink="/obterTarefa">Obter tarefa</a>
        <a routerLink="/planeamentoTarefas">Planear tarefas</a>
        <a routerLink="/apagarTarefa">Apagar tarefa</a>
        <a routerLink="/visualizacao3D">Visualização 3D</a>

        <div class="logout">
            <a (click)="logout()">Logout</a>
        </div>    
        
    </div>
    
</body>
</html>