<html>
  <body>
    <div class="sidebar">
      <app-sidebarGestaoCampus></app-sidebarGestaoCampus>
    </div>
    <div class = "header">
        <h1>Lista de Edifícios</h1>
    </div>
    <div class = "conteudo" *ngIf="listaEdificios.length === 0">
        <p>Não existem Edifícios</p>
    </div>
    <div class="conteudo" *ngIf="listaEdificios && listaEdificios.length > 0">
        <p-table [value]="listaEdificios" [tableStyle]="{'text-align': 'left'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Dimensão em X</th>
                    <th>Dimensão em Y</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-edificio>
                <tr>
                    <td>{{ edificio.codigo }}</td>
                    <td>{{ edificio.nome || "-" }}</td>
                    <td>{{ edificio.descricao || "-" }}</td>
                    <td>{{ edificio.dimensaoX }}</td>
                    <td>{{ edificio.dimensaoY }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </body>
</html>


