<!DOCTYPE html>
 
<html>
<body>
    <div class="sidebar">
        <a href="#">Home</a>
        <div class="dropdown">
            <a>Tipo Robot</a>
            <div class="dropdown-content">
                <a href="#">Criar</a>
            </div>
        </div>
        <div class="dropdown">
            <a>Robot</a>
            <div class="dropdown-content">
                <a routerLink="/adicionarDispositivo">Criar</a>
                <a href="#">Listar</a>
                <a href="#">Consultar</a>
                <a href="#">Inibir</a>
            </div>
        </div>
    </div>
</body>
</html>