<!DOCTYPE html>
 
<html>
<body>
    <div class="sidebar">
        <a href="#">Home</a>
        <div class="dropdown">
            <a>Tipo Robot</a>
            <div class="dropdown-content">
                <a routerLink="/criarTipoRobo">Criar</a>
            </div>
        </div>
        <div class="dropdown">
            <a>Frota</a>
            <div class="dropdown-content">
                <a routerLink="/adicionarDispositivo">Adicionar robot</a>
                <a routerLink="/listarDispositivosFrota">Consultar robots</a>
                <a href="#">Inibir robot</a>
            </div>
        </div>
    </div>
</body>
</html>