<html>
  <body>
    <div class="sidebar">
      <app-sidebarGestaoCampus></app-sidebarGestaoCampus>
    </div>
    <div class = "header">
        <h1>Editar Edifício</h1>
    </div>
    <div class="conteudo">
        <div class="input-field">
            <select id="codigo" name="codigo" #codigo required>
              <option value="" disabled selected>Codigo Edificio *</option>
              <option *ngFor="let option of listaCodigos" [value]="option">{{ option }}</option>
            </select>
            <span></span>
        </div>

      <div class = "input-field"> 
        <input name="nomeEdificio" #nomeEdificio placeholder="Nome do Edifício" />
        <span></span>
      </div>

      <div class = "input-field"> 
        <input name="descricaoEdificio" #descricaoEdificio placeholder="Descrição do Edifício" />
        <span></span>
      </div>

      <div class = "button-submit">
        <button type="button" class="add-button" (click)="edit(codigo.value, nomeEdificio.value,descricaoEdificio.value);">Editar Edificio</button>
      </div>
      <app-message></app-message>
    </div>
  </body>
  
</html>


