<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "container">
        <h2>Política de privacidade</h2>
        <h3>Responsável pelo tratamento</h3>
        <p>
            A RobDroneGo ltd. é a entidade responsável tratamento dos dados recolhidos. 
            Para qualquer dúvida em relação ao tratamento dos dados pessoais, estamos disponíveis para contato através do e-mail support@robdronego.pt.
        </p>
        <h3>Recolha de dados e sua Finalidade</h3>
        <p>
            Para proporcionar a melhor e mais adequada experiência de utilizador, recolhemos alguns dados pessoais, tais como nome, e-mail, número de contribuinte e registos de imagens. Estes dados são essenciais para autenticação, registo e identificação dos utilizadores no sistema, para faturação, para cálculo estatísticos e para conceder aos utilizadores acesso às funcionalidades pertinentes.
        </p>
        <p> 
            É importante salientar que as imagens recolhidas também serão utilizadas para fins de vigilância. Este processo visa garantir a segurança. A utilização das imagens para vigilância tem como objetivo principal proteger a comunidade de utilizadores e manter um ambiente seguro para todos.
        </p>

        <h3>Período de Conservação dos Dados</h3>
        <p>
            Os dados são conservados até que o user seja removido da app, o SistemaRoboDroneGOISEP conservará os seus dados enquanto se mantiver como utilizador registado no nosso site, para as finalidades relacionadas com a prestação dos serviços solicitados. Isto, sem prejuízo do exercício do seu direito de oposição quando aplicável.
            Após a cessação do(s) contrato(s) poderemos conservar os seus dados para prova do cumprimento de obrigações legais, designadamente o RGPD, legislação fiscal, entre outras.
            Neste caso apenas conservaremos os dados que sejam absolutamente necessários para esta finalidade e esses dados serão mantidos devidamente bloqueados e pseudonimizados. Apenas estarão acessíveis a pessoas especialmente autorizadas e exclusivamente para o cumprimento das finalidades suprarreferidas.
            <br><br>
            Os dados referentes às imagens recolhidas pelo sistema de vigilância serão conservados durante 30 dias. Estas imagens podem ter período de vida prolongado cajo exista alguma quebra de segurança captada pelas câmaras e esses dados sejam utilizados para prova de algum crime ou brecha de alguma regra de conduta.	
        </p>

        <h3>Direitos do utilizador</h3>
        <h4>Direito de acesso à informação</h4>
        <p>Os utilizadores registados no nosso sistema têm o direito de aceder aos dados pessoais ao quais forneceu.</p>
        <h4>Direito à retificação</h4>
        <p>Os utilizadores têm a capacidade de retificar os seus dados pessoais.</p>
        <h4>Direito à portabilidade </h4>
        <p>Qualquer utilizador que esteja registado no nosso sistema tem a capacidade de obter uma cópia digital dos dados que foram garantidos.</p>
        <h4>Direito de apagamento</h4>
        <p>Caso o utilizador queira exercer o seu direito de remoção dos seus dados do nosso sistema terá de cancelar a sua conta e automaticamente todos os dados relativos ao utilizador serão eliminados. Com o cancelamento da conta não é possível ter acesso ao sistema, visto que o sistema RobDroneGo funciona por autenticação.</p>
        <h4>Direito de oposição</h4>
        <p>O utilizador pode opor-se ou retirar o seu consentimento a qualquer momento. Caso este não tenha sido dado não será possível prosseguir com a utilização do sistema. Caso retire o seu consentimento o utilizador perde o acesso ao sistema e os seus dados serão apagados.</p>
    </div>
</body>
</html>