<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class = "container">
        <h2>Política de privacidade</h2>
        <h3>Direitos do utilizador</h3>
        <h4>Direito de acesso à informação</h4>
        <p>Os utilizadores registados no nosso sistema têm o direito de aceder aos dados pessoais ao quais forneceu.</p>
        <h4>Direito à retificação</h4>
        <p>Os utilizadores têm a capacidade de retificar os seus dados pessoais.</p>
        <h4>Direito à portabilidade </h4>
        <p>Qualquer utilizador que esteja registado no nosso sistema tem a capacidade de obter uma cópia digital dos dados que foram garantidos.</p>
        <h4>Direito de apagamento</h4>
        <p>Caso o utilizador queira exercer o seu direito de remoção dos seus dados do nosso sistema terá de cancelar a sua conta e automaticamente todos os dados relativos ao utilizador serão eliminados. Com o cancelamento da conta não é possível ter acesso ao sistema, visto que o sistema RobDroneGo funciona por autenticação.</p>
        <h4>Direito de oposição</h4>
        <p>O utilizador pode opor-se ou retirar o seu consentimento a qualquer momento. Caso este não tenha sido dado não será possível prosseguir com a utilização do sistema. Caso retire o seu consentimento o utilizador perde o acesso ao sistema e os seus dados serão apagados.</p>
    </div>
</body>
</html>